<html>
    <head>
        <title>Happy Birthday</title>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100%;">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: #FAFAFA;height: 100%;width: 100%;">
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;">
                        <table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color: #FAFAFA;">
                            <tr>
                                <td valign="top" class="preheaderContent" style="border-collapse: collapse;">
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tr>
                                            <td valign="top" style="border-collapse: collapse;">
                                                <div style="color: #707070;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">
                                                    Happy Birthday
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div style="border: 5px solid #B8B8B8;width:600px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateContainer" style="border: 0;background-color: #FDFDFD;">
                                <tr>
                                    <td align="center" valign="top" style="border-collapse: collapse;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 5px solid #505050;">
                                            <tr>
                                                <td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 10px;text-align: right;vertical-align: middle;">
                                                    <img src="{{logo}}" style="max-width: 180px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" />
                                                </td>
                                                <td class="headerContent" width="100%" style="padding-left: 10px;padding-right: 20px;border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 10px;text-align: right;vertical-align: middle;">
                                                    <div >
                                                        <h1 style="color: #202020;display: block;font-family: Arial;font-size: 28px;font-weight: bold;line-height: 100%;margin-top: 2%;margin-right: 0;margin-bottom: 1%;margin-left: 0;text-align: left;">B.K. Arogyam & Research Pvt Ltd</h1>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" style="border-collapse: collapse;">
                                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                            <tr>
                                                <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FDFDFD;">
                                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td width="10" style="background-color:#F5F5F5;"></td>
                                                            <td valign="top" style="vertical-align:top;padding-left: 30;border-collapse: collapse;">
                                                                <strong>Dear {{data.user.first_name}},</strong><br/><br/>
                                                                Wish you a very Happy Birthday!
                                                                <br/><br/>
                                                                It’s time to celebrate another trip you made around the sun!
                                                                <br/><br/>
                                                                May this special day mark the beginning of a healthier life filled with happiness and prosperity.
                                                                <br/><br/>
                                                                Wishing you good health always,
                                                                <br/>
                                                                B.K. Arogyam & Research Pvt Ltd
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" style="border-collapse: collapse;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateFooter" style="background-color: #FAFAFA;border-top: 3px solid #909090;">
                                            <tr>
                                                <td valign="top" class="footerContent" style="border-collapse: collapse;">
                                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td valign="top" style="border-collapse: collapse;">
                                                                <div mc:edit="std_footer" style="color: #707070;font-family: Arial;font-size: 11px;line-height: 125%;text-align: right;">
                                                                    <strong>B.K. Arogyam & Research Pvt Ltd</strong>
                                                                    <br/>Varanasi, Uttar Pradesh- 221001                                                                                                                                           <br/>8081222333
                                                                    <br/><a href="http://www.bkarogyam.com">www.bkarogyam.com</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>