{% load calculate_age %}
<html>
    <head>
        <title>Your follow-up visit is due</title>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100%;">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: #FAFAFA;height: 100%;width: 100%;">
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;">
                        <table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color: #FAFAFA;">
                            <tr>
                                <td valign="top" class="preheaderContent" style="border-collapse: collapse;">
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tr>
                                            <td valign="top" style="border-collapse: collapse;">
                                                <div style="color: #707070;font-family: Arial;font-size: 10px;line-height: 100%;text-align: left;">
                                                    Your follow-up visit is due 
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div style="border: 5px solid #B8B8B8;width:600px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateContainer" style="border: 0;background-color: #FDFDFD;">
                                <tr>
                                    <td align="center" valign="top" style="border-collapse: collapse;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 5px solid #505050;">
                                            <tr>
                                                <td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 10px;text-align: right;vertical-align: middle;">
                                                    <img src="{{logo}}" style="max-width: 180px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" />
                                                </td>
                                                <td class="headerContent" width="100%" style="padding-left: 10px;padding-right: 20px;border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 10px;text-align: right;vertical-align: middle;">
                                                    <div >
                                                        <h1 style="color: #202020;display: block;font-family: Arial;font-size: 28px;font-weight: bold;line-height: 100%;margin-top: 2%;margin-right: 0;margin-bottom: 1%;margin-left: 0;text-align: left;">{{data.practice_data.name}}</h1>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" style="border-collapse: collapse;">
                                        <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                            <tr>
                                                <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FDFDFD;">
                                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td width="10" style="background-color:#F5F5F5;"></td>
                                                            <td valign="top" style="vertical-align:top;padding-left: 30;border-collapse: collapse;">
                                                                <strong>Dear {{data.patient.user.first_name}} ({{ data.patient.custom_id }}),</strong><br/><br/>
                                                                We hope you have been in the best of health after you visited us
                                                                last time.
                                                                <br/><br/>
                                                                This email is our sincere effort to remind you for a follow-up visit. Follow-up visits are a great way of ensuring continuity of care and maintaining your state of well being. 
                                                                <br/><br/>
                                                                You can book an appointment with us
                                                                <br/>Online at: <a href="https://patient.bkarogyam.com">https://patient.bkarogyam.com</a>
                                                                or
                                                                <br/>By phone at: 8081222333
                                                                <br/><br/>
                                                                Wishing you good health always,
                                                                <br/>
                                                                {{data.practice_data.name}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" style="border-collapse: collapse;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="580" id="templateFooter" style="background-color: #FAFAFA;border-top: 3px solid #909090;">
                                            <tr>
                                                <td valign="top" class="footerContent" style="border-collapse: collapse;">
                                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td valign="top" style="border-collapse: collapse;">
                                                                <div mc:edit="std_footer" style="color: #707070;font-family: Arial;font-size: 11px;line-height: 125%;text-align: right;">
                                                                    <strong>{{data.practice_data.name}}</strong>
                                                                    <br/>
                                                                    {{data.practice_data.address}}<br/>{{data.practice_data.locality}}<br/>{{data.practice_data.city}}, {{data.practice_data.state}}- {{data.practice_data.pincode}}<br/>8081222333                                                                                                                                           <br/>{{CLINICCONTACTNUMBER}}
                                                                    <br/><a href="http://www.bkarogyam.com">www.bkarogyam.com</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>