<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Remider Thanks : Plutonic  </title>
<style type="text/css">
	@media screen and (max-width: 600px){
		table{
			width: 90%;
			margin: auto; 
		}
	}
</style>
</head>
<body style="margin: 0px;padding: 5px 0px;background: rgb(243, 128, 32);padding:10px;text-align:center">
	<table style="width: 598px;background: white;text-align:left;padding: 10px;max-width: 90%;margin: 10px auto;">
		<thead>
			<tr>
				<td colspan="3" style="text-align:center">
		            {% block headerimage %}{% endblock %}			
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="3" style="padding-top: 15px;">
					{% block content %}{% endblock %}
				</td>
			</tr>
			<!-- <tr>
				<td colspan="3" style="margin: 15px auto; text-align:center"><img src="http://hosting.renewbuy.com/email/images/20171211/footer_health_launch.jpg" style="width:100%; border-radius:5px;">
				</td>
			</tr> -->
			<tr>
				<td colspan="3" style="margin: 15px auto; text-align:center">
					<img src="https://www.plutonic.co.in/images/plutonic_logo.png" style="width:100%; border-radius:5px;">
				</td>
			</tr>
				

			<tr style="padding:10px 0px">
				<td colspan="3" style="text-align:center;margin-top: 15px;">
					<font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#222222; font-size:x-small">
                         WE MAKE YOUR BUSINESS GROW		            </font>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>